.terms-tags li {
	display: inline-block;
	margin: 0.5rem;
}

.terms-tags a {
	display: block;
	padding: 3px 10px;
	background: var(--pseudo-button-bg);
	color: var(--pseudo-button-color);
	border-radius: 6px;
	transition: transform 0.1s;
}

.terms-tags a:hover{
	transform: scale(0.96);
}

.terms-tags a:active {
	background: var(--pseudo-button-hover);
	transform: scale(0.96);
}
